<!DOCTYPE html>
<html>

<body>
    <h3>Cambio en MIB-II</h3>
    <img style="text-align: center; display: flex; margin: 0 8px; width: 96;" src="cid:img_header" alt="Logo image" />
    <p>Se notifica que el dispositivo <span style="color: #D61C4E;">{IP}</span> ha sido modificado en la MIB-II.</p>
    <h3>Informacion:</h3>
    <div style="margin: 12px">
        <p style="color: #7D1E6A">Dispositivo: {DEVICE}</p>
        <p style="color: #7D1E6A">Modificaciones: {MODS}</p>
    </div>
    <p style="color: #F24C4C">- Equipo de Network-Monitor</p>
    <p style="color: #F24C4C">{sentAt}</p>
</body>

</html>