<!DOCTYPE html>
<html>

<body>
    <h3>Informe de monitoreo del dispositivo</h3>
    <img style="text-align: center; display: flex; margin: 0 8px; width: 96;" src="cid:img_header" alt="Packet image" />
    <p>Se notifica que la interfaz <span style="color: #D61C4E;">{INTERFACE}</span> del dispositivo con IP {IP} {DESCRIPTION}.</p>
    <h3>Informacion:</h3>
    <div style="margin: 12px">
        <p style="color: #7D1E6A">Dispositivo: {IP}</p>
        <p style="color: #7D1E6A">Interfaz: {INTERFACE}</p>
        <p style="color: #2155CD"># Packetes recibidos en el intervalo: {RCV_PKTS}</p>
        <p style="color: #2155CD"># {PACKETS_TYPE}: {NO_PACKETS}</p>
    </div>
    <p style="color: #F24C4C">- Equipo de Network-Monitor</p>
    <p style="color: #F24C4C">{sentAt}</p>
</body>

</html>