<!DOCTYPE html>
<html>
	<body>
		<h3>Solicitud de reestablecimiento de contraseña</h3>
		<img
			style="text-align: center; display: flex; margin: 0 8px; width: 96;"
			src="cid:img_header"
            alt="Logo image"
		/>
		<p>
			Estimado {email}, se ha detectado que desea cambiar la contraseña de su
			cuenta, de ser esto correcto, por favor utilice el link para
			<a href="{url}">reestablecer su contraseña</a>.
		</p>
		<p style="font-size: 9pt; color: red">
			El link solo será válido durante 20 minutos
		</p>
		<p>En el caso de que no lo haya solicitado, por favor ignore este email.</p>

		<p style="color: #68a7ad">- Equipo de Network-Monitor</p>
		<p style="color: #68a7ad">{sentAt}</p>
	</body>
</html>
