<!DOCTYPE html>
<html>

<body>
    <h3>{TRAP_HEADER}</h3>
    <img style="text-align: center; display: flex; margin: 0 8px; width: 96;" src="cid:img_header" alt="Logo image" />
    <p>Se notifica que el dispositivo <span style="color: #D61C4E;">{IP}</span> ha generado una alerta.</p>
    <h3>Informacion:</h3>
    <div style="margin: 12px">
        <p style="color: #7D1E6A">Dispositivo: {IP_GROUP}</p>
        <p style="color: #7D1E6A">Grupo: {GROUP}</p>
        <p style="color: #14C38E;">Version: {VERSION}</p>
        <div style="color: #2155CD">Descripcion:
            <p>OID: {OID}</p>
            <p>OID Traducido: {OIDT}</p>
            <p>Accion: {DESC}</p>
            <p>Raw Data:</p>
            <p>{RAW}</p>
        </div>
    </div>
    <p style="color: #F24C4C">- Equipo de Network-Monitor</p>
    <p style="color: #F24C4C">{sentAt}</p>
</body>

</html>